:root{
    --income-color: #55c57a;
    --expense-color: #bb1414;

    --grey: #3f3f3f;

    --form-background-color: #e2ebf0;
    --balance-background-color: #cfd9df;
}
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    font-size: 50%;
}
body{
    font-family: 'Lato', sans-serif;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 2rem;
    padding-left: 0.5rem;
    background-color: var(--form-background-color);
    z-index: 2;
}
.header__heading{
    font-size: 3.6rem;
    margin: 0 auto;
    padding: 0.5rem;
}
.budget{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.budget_form{
    flex: 1;
    background-color: var(--form-background-color);
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10rem 0;
}
.budget_balance{
    background-color: var(--balance-background-color);
    flex: 1;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.balance_heading{
    margin-top: 10rem;
    font-size: 2.4rem;
}
.balance_heading--positive{
    color: var(--income-color);
}
.balance_heading--negative { 
    color: var(--expense-color);
}
.inputs{
    display: flex;
    list-style: none;
    align-items: center;
}
.switch{
    padding-right: 2rem;
}
.switch_input{
    display: none;
}
.switch_label{
    width: 4rem;
    height: 4rem;
    background-color: var(--income-color);
    display: block;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}
.switch_label:before, .switch_label:after{
    content: '';
    position: absolute;
    background-color: #fff;
    transition: transform 0.25s ease-out;
}
.switch_label::before{
    top: 1rem;
    left: 48%;
    width: 0.4rem;
    height: calc(100% - 2rem);
    margin-top: 0.0rem;
}
.switch_label::after{
    top: 50%;
    left: 1rem;
    width: calc(100% - 2rem);
    height: 0.4rem;
    margin-top: -0.2rem; 
}

.switch_input:checked ~ .switch_label{
    background-color: var(--expense-color);
}

.switch_input:checked ~.switch_label::before{
    transform: rotate(90deg);
}
.input{
    display: block;
    position: relative;
    padding-right: 2rem;
}
.input_input{
    font-size: 1.5rem;
    font-family: inherit;
    padding: 1rem 2rem;
    border-radius: 0.2rem;
    background-color: rgba(#fff, 0.5);
    border: none;
    width: 15rem;
    display: block;
    border-bottom: 0.3rem solid var(--grey);
}
.input_input:focus{
    outline: none;
    border-bottom: 0.3rem solid var(--income-color);
    transition: border-color 0,3s ease-in;
}
.input_input::-webkit-input-placeholder{
    color: #000;
}
.input_label{
    font-size: 1.2rem;
    font-weight: 700;
    position: absolute;
    top: -2rem;
    left: 0;
    transition: opacity 0.3s ease-in, transform 0.3s ease-in;
}
.input_input:placeholder-shown + .input_label{
    opacity: 0;
    visibility: hidden;
    transform: translateY(4rem);
}
.button{
    background-color: transparent;
    border: none; 
    cursor: pointer;
    height: 3rem;
    width: 3rem;
}

.button_icon{
    fill: var(--income-color);
    transition: transform 0.1s ease-in;
}
.list{
    margin-top: 5rem;
}
.list_heading{
    font-size: 2.4rem;
    margin-bottom: 1rem;
}
.list_list{
    list-style: none;
}
.list_item{
    display: flex;
    width: 30rem;
    background-color: #fff;
    padding-left: 1rem;
    align-items: center;
    font-size: 1.8rem;
    margin: 0.5rem 0;
}
.list_item:hover{
    background-color: var(--form-background-color);
}
.item_description{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.item_value{
    margin-left: auto;
}
.item__buttons{
    display: flex;
    margin-left: 1rem;
}
.item_button{
   height: 3rem;
   width: 3rem;
   border: 1px solid #000;
  
}
.error{
color: #bb1414;
font-size: 1.6rem;
}
.hide{
    visibility: hidden;
}
.list_heading--incomes{
    color: var(--income-color);
}
.list_heading--expenses { 
    color: var(--expense-color);
}
.item_value--income{
    color: var(--income-color);
}
.item_value--expnses{
    color: var(--expense-color);
}



@media(min-width: 768px){
    html{
        font-size: 62.5%;
    }
    .header{
        background-color: transparent;
    }
    .budget{
        flex-direction: row;
    }
    .budget_balance{
        margin: 0;
    }
    .item__buttons{
        opacity: 0;
        transform: translateY(2rem);
        transition: opacity 0.1s ease-in, transform 0.1s ease-in;
    }
    .list_item:hover .item__buttons{
        opacity: 1;
        transform: translateX(0);
    }
}